@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --theme-page-header-button-hover: #84389e;
  --theme-page-header-nav-bg: #592569;
  --theme-page-header-nav-bg2: #421c4f;
  --theme-page-header-nav-open-bg: #592569;
  --theme-page-header-nav-text-color: #ffffff;
}

/* cor custom */
@theme {
  --color-dimmed: #9ca3af;
}

@layer base {
  body {
    @apply text-gray-600 bg-[var(--theme-bg)];
  }
}

/* container custom */
@layer utilities {
  .container {
    @apply mx-auto h-full max-w-6xl px-3;
  }
}